$default-font-color: #000;
$bg-color: rgb(0, 132, 255);
$container-bg-color: white;
$container-border-color: black;
$textbox-border-color: lightgrey;
$button-text-color: white;
$button-hover-color: black;
$add-button-color: rgb(124, 255, 124);
$clear-button-color: rgb(245, 82, 82);


@mixin mq($size) {
    @media only screen  and (min-width: $size) {
        @content;
    }
}

// To-Do: Add proper reset

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    @include mq(768px){

        font-size: 22px;
        
    }
}

body {
    padding: 20px;
    background-color: $bg-color;
}

section {
    background-color: $container-bg-color;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $container-border-color;
    border-radius: 5px;
}